<div class="home-page">
    <div class="introduction">
        <h1>
            Estimate your future capital 
        </h1>
    </div>
    <div class="get-started">
        <div class="create-account">
            <div class="image">
                <img src="assets/NestEgg_500_400.png">
            </div>
            <div class="content">
                <div class="message">
                    <p>Discover how long it will take to reach your goal</p>
                </div>
                <button mat-raised-button 
                    class="background-positive"
                    [routerLink]="'/create-account'">Start Planning!</button>
            </div>
        </div>
        <div class="existing-account">
            <div class="image">
                <img src="assets/HatchedEgg_500_400.png">
            </div>
            <div class="content">
                <div class="message">
                    <p>Already started?</p>
                </div>
                <button mat-raised-button 
                    class="background-positive"
                    [routerLink]="'/predict'">Continue Planning!</button>
            </div>
        </div>
    </div>
</div>