
.home-page {
    text-align: center;
}

.introduction {
    position: relative;
    padding: 5% 5%;
    width: 100%;
    height: 30vh;
    background-image: linear-gradient(#C7FFB1, white);
}

.introduction h1 {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
}

.get-started {
    position: relative;
    width: 100%;
    margin-bottom: 50px;
    background-color: white;
}

.content {
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}

.image {
    max-width: 500px;
}

img {
    max-width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: auto;
    width: auto\9;
}

.create-account {
    vertical-align: top;
    display: inline-block;
    margin: 15px 10vw;
    background-color:  #ffffff;
    border-radius: 10px;
    text-align: center;
    -moz-box-shadow: 3px 3px 8px #929292!important;
    -webkit-box-shadow: 3px 3px 8px #929292!important;
    box-shadow: 3px 3px 8px #6b6b6b!important;
}

.existing-account {
    vertical-align: top;
    display: inline-block;
    margin: 15px 10vw;
    background-color:  #ffffff;
    border-radius: 10px;
    text-align: center;
    -moz-box-shadow: 3px 3px 8px #929292!important;
    -webkit-box-shadow: 3px 3px 8px #929292!important;
    box-shadow: 3px 3px 8px #6b6b6b!important;
}

.message {
    display: table;
    width: 100%;
    font-size: 16px;
    height: 50px;
}

button {
    font-size: 14px;
}

.message p {
    display: table-cell; 
    vertical-align: middle; 
    text-align: center; 
    margin-bottom: 0;
}

@media(min-width: 650px) {
    .content {
        padding-left: 25px;
        padding-right: 25px;
        padding-bottom: 25px;
    }

    .create-account {
        max-width: 30vw;
        margin: 15px 15px;
    }

    .create-account .message {
        font-size: 2vw;
        height: 60px;
    }

    .existing-account {
        max-width: 30vw;
        margin: 15px 15px;
    }
    
    .existing-account .message {
        font-size: 2vw;
        line-height: 60px;
        height: 60px;
    }
    
    button {
        font-size: 2vw;
    }
}

@media(min-width: 900px) {

    .create-account .message {
        font-size: 18px;
    }

    .existing-account .message {
        font-size: 18px;
    }
    
    button {
        font-size: 18px;
    }
}