<div class="edit-transaction" >
    <form class="edit-transaction-form" [formGroup]="transactionForm" (ngSubmit)="onSubmit(transactionForm)">
        <p id="title">Transaction</p>
        <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput
                placeholder="Ex. Income; Bills; Savings" 
                formControlName="name">
        </mat-form-field>
    
        <mat-form-field>
            <mat-label>Amount</mat-label>
            <input matInput
            [value]="amount | currencyToNumber | currency:getCurrencyType():'symbol'" 
            (blur)="amount=$event.target.value"
            formControlName="amount">
        </mat-form-field>

        <mat-form-field>
            <input matInput
                [matDatepicker]="picker" 
                placeholder="Transaction Date"   
                formControlName="date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        
        <mat-form-field>
            <mat-label>Frequency</mat-label>
            <mat-select
                formControlName="recurrence">
              <mat-option *ngFor="let item of timespans | enumToArray" [value]="item.index">{{item.name}}</mat-option>
            </mat-select>
        </mat-form-field>
        
        <br>
        <div class="button-container">
            <button mat-raised-button 
                id="submit" 
                class="button"
                [ngClass]="(amount | currencyToNumber) >= 0 ? 'background-positive' : 'background-negative'"
                type="submit">
                Submit
            </button>
            <button mat-raised-button 
                id="delete" 
                type="button"
                class="button background-negative"
                (click)="onDelete()">
                Delete
            </button>
        </div>
    </form>
</div>