<div class="edit-account" >
    <form class="edit-account-form" [formGroup]="accountForm" (ngSubmit)="onSubmit(accountForm)">
        <p id="title">Account</p>
        <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput id="name"
                placeholder="Ex. Checking; Savings; My Account"
                formControlName="name">
                <mat-error *ngIf="accountForm.controls.name.hasError('required')">
                    Name required!
                </mat-error>
        </mat-form-field>
    
        <mat-form-field>
            <mat-label>Currency</mat-label>
            <mat-select id="currency" 
                formControlName="currency">
              <mat-option *ngFor="let item of currencies | enumToArray" [value]="item.index">{{item.name}}</mat-option>
            </mat-select>
            <mat-error *ngIf="accountForm.controls.currency.hasError('required')">
                Currency required!
            </mat-error>
        </mat-form-field>
        
        <br>
        <button mat-raised-button 
            id="edit" 
            class="background-positive"
            type="submit">Submit</button>
    </form>
</div>