.create-transaction {
    width: 100%;
    height: 100%;
}

.create-transaction-form {
    margin: auto;
    width: 100%;
    text-align: center;
}

.create-transaction-form mat-form-field {
    width: 80%;
    padding-bottom: .8vh;
    font-size: 2.4vh;
}

#create {
    margin-bottom: 3vh;
    font-size: 3vh;
}

#title {
    font-weight: bold;
    font-size: 2.4vh;
    padding: 3vh 0;
    margin: 0 5vw;
}

p {
    margin-bottom: 0;
}

@media (min-height: 650px){ 
    #title {
        font-size: 30px;
        padding: 20px 0px;
    }

    .create-transaction-form mat-form-field {
        padding-bottom: 5px;
        font-size: 16px;
    }
    
    #create {
        margin-bottom: 20px;
        font-size: 20px;
    }
}