
/*#region Common*/

.account-page {
    position: absolute;
    top: 76px;
    bottom: 0;
    right: 0;
    left: 0;
}

.account-description {
    width: 100%;
    height: 35%;
}

.transaction-list-mobile {
    background-color: white;
    width: 100%;
    height: auto;
    overflow:hidden; 
    overflow-y:auto;
}

.hidden {
    display: none;
    overflow: hidden;
}

/*#region Create Transaction Button*/

.edit-transactions-group {
    width: 100%;
    height: 75px;
    vertical-align: middle;
    display: table;
}

.edit-transactions-button {
    display: table-cell;
    font-weight: bold;
    width: 33.33%;
    height: 75px;
    cursor:pointer;
    vertical-align: middle;
    text-align: center;
    color: rgb(139, 139, 139);
    -moz-box-shadow:    inset 0 0 7px #000000;
    -webkit-box-shadow: inset 0 0 7px #000000;
    box-shadow:         inset 0 0 7px #000000;
    padding: 0 10px;
}
.edit-transactions-button:hover {
    background-color: whitesmoke;
}
.edit-transactions-button:active {
    background-color: rgb(218, 218, 218);
}

.modify-transaction-button {
    font-weight: bold;
    line-height: 75px;
    height: 75px;
    cursor:pointer;
}

.modify-transaction-button:hover {
    background-color: whitesmoke;
}

.modify-transaction-content-left {
    max-width: 80%;
    float: left;
    padding-left: 2%;
}

.modify-transaction-content-left .icon {
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
    font-size: 20px;
}

.modify-transaction-content-left .add {
    color: #61ca53;
}

.modify-transaction-content-left .edit {
    color: rgb(139, 139, 139);
}

.modify-transaction-text {
    display: inline-block;
    color: rgb(139, 139, 139);
    text-align: right;
    margin-left: 10px;
    font-weight: bold;
}

.modify-transaction-content-right {
    float: right;
    padding-right: 2%;
}

.modify-transaction-content-right .chevron {
    display: inline-block;
    color: rgb(139, 139, 139);
    vertical-align: middle;
    font-size: 25px;
}
/*#endregion*/

p {
    margin-bottom: 0;
}

/*#endregion*/

/*#region Mobile*/

.account-page-mobile {
    background-color: white;
    width: 100%;
    height: 100%;
}

/*#endregion*/

/*#region Web*/

.account-page-left {
    width: auto;
    position: absolute;
    left: 0;
    top: 0px;
    right: 62%;
    bottom: 0px;
}

.transaction-list-container {
    background-color: white;
    position: relative;
    height: 65%;
}

.transaction-list {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow:hidden; 
    overflow-y:auto;
}

.positive-gradient {
    -webkit-transition: background-color 0.5s ease-in-out;
    transition: background-color 0.5s ease-in-out;
    background-color: #C7FFB1;
}

.negative-gradient {
    -webkit-transition: background-color 0.5s ease-in-out;
    transition: background-color 0.5s ease-in-out;
    background-color: #ffb1b1;
}

.account-page-right {
    width: auto;
    height: auto;
    display: block;
    position: absolute;
    left: 38%;
    top: 0px;
    right: 0px;
    bottom: 0px;
}

.transaction-form-content {
    width: 80%;
    height: auto;
    margin: 5vh auto;
    background-color: white;
    border-radius: 10px;
    -moz-box-shadow: 8px 8px 15px #6b6b6b!important;
    -webkit-box-shadow: 8px 8px 15px #6b6b6b!important;
    box-shadow: 8px 8px 15px #6b6b6b!important;
}

.shadow {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    -moz-box-shadow: inset 8px 8px 15px #6b6b6b!important;
    -webkit-box-shadow: inset 8px 8px 15px #6b6b6b!important;
    box-shadow: inset 8px 8px 15px #6b6b6b!important;
}

/*#endregion*/