
.mat-button {
    font-size: 16px;
    padding: 2px 4px;
    color: rgb(75, 75, 75);
}

.mat-button-focus-overlay { 
    background-color: rgb(211, 211, 211);
}

.delete {
    white-space: normal;
    width: 100px;
    line-height: 18px;
}

@media(min-width: 380px) {
    .delete {
        width: auto;
        line-height: 41px;
    }
}