.box {
    height: 100vh; 
    margin-left: 38.2vw;
}

.shadow {
    position: absolute;
    left: 38.2vw;
    top: 60px;
    right: 0px;
    bottom: 0px;
    -moz-box-shadow: inset 8px 8px 15px #929292!important;
    -webkit-box-shadow: inset 8px 8px 15px #929292!important;
    box-shadow: inset 8px 8px 15px #6b6b6b!important;
}
