<app-nav></app-nav>
<router-outlet></router-outlet>
<div>
    <div style="width: 38.2vw; height: 100vh; float:left;">
        <div style="height: 38.2%">
            <app-account [account]="account"></app-account>
        </div>
        <div>
            <app-transaction></app-transaction>
            <app-transaction></app-transaction>
            <app-transaction></app-transaction>
            <app-transaction></app-transaction>
        </div>
    </div>
    <div class="box">
        <div class="shadow"></div>
        <app-create-transaction class="child"></app-create-transaction>
    </div>
</div>