@media (max-width: 460px) {
  .transaction {
    font-size: 14px;
  }

  .transaction-content-left {
    max-width: 40%;
  }

  #amount {
    width: 100px;
    vertical-align: top;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.transaction {
  min-width: 280px;
  height: 75px;
  font-weight: bold;
  cursor:pointer;
}

.transaction:hover {
  background-color: whitesmoke;
}

.transaction-content-left {
  display: block;
  margin: auto;
  height: 75px;
  max-width: 50%;
  float: left;
  padding-left: 2%;
}

.info {
  height: 75px;
  display: table-cell;
  vertical-align: middle;
}

#name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#date {
  font-size: 12px;
}

.transaction-content-right {
  float: right;
  padding-right: 2%;
}

#amount {
  display: inline-block;
  text-align: right;
  margin-right: 10px;
  font-weight: bold;
  line-height: 75px;
  height: 75px;
}

p {
  margin-bottom: 0;
}