<div class="create-account" >
    <form class="create-account-form" [formGroup]="createAccount" (ngSubmit)="onCreate(createAccount)">
        <p id="title">{{title}}</p>
        <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput id="name"
                formControlName="name"
                placeholder="Ex. Checking; Savings; My Account" required>
            <mat-error *ngIf="createAccount.controls.name.hasError('required')">Name required!</mat-error>
        </mat-form-field>
    
        <mat-form-field>
            <mat-label>Currency</mat-label>
            <mat-select id="currency" 
                formControlName="currency" required>
              <mat-option *ngFor="let item of currencies | enumToArray" [value]="item.index">{{item.name}}</mat-option>
            </mat-select>
            <mat-error  *ngIf="createAccount.controls.currency.hasError('required')">Currency required!</mat-error>
        </mat-form-field>
        
        <br>
        <button mat-raised-button 
            id="create" 
            class="background-positive"
            type="submit">Create</button>
  </form>
</div>