/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

* {
    font-family: Arial, sans-serif;
}

p, h1, h2, h3, small {
    color: rgb(75, 75, 75);
}

nav {
    z-index: 1;
    min-height: 76px;
}

.currency-color-positive {
    color: rgb(56, 194, 56);
}

.currency-color-negative {
    color: rgb(194, 56, 56);
}

.mat-calendar .mat-button {
    color: black!important;
}

.mat-calendar-body-selected {
    background-color: #7fe059;
    color: black;
}

.mat-focused .mat-form-field-label {
    /*change color of label*/
    color: rgb(75, 75, 75) !important;
}

.mat-form-field-underline {
 /*change color of underline*/
    color: rgb(75, 75, 75) !important;
} 

.mat-form-field-ripple {
    /*change color of underline when focused*/
    background-color:rgb(75, 75, 75) !important;
}

.mat-button, .mat-raised-button {
    font-size: 20px;
    padding: 2px 4px;
    color: white;
}

.background-positive {
    transition: background-color 0.5s ease;
    background-color:  #85e279;
}

.background-negative {
    transition: background-color 0.5s ease;
    background-color:  #f16b6b;
}

button:focus {
    outline: none!important;
}