
.nav-item{
  padding:2px;
  margin-left: 7px;
}

.navbar-custom {
  background-color: #61ca53;
}
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text, 
.nav-link {
  cursor: pointer;
  color: white!important;
}

.navbar-custom:hover, .navbar-brand:hover,
.navbar-custom .navbar-text:hover, 
.nav-link:hover {
  color: whitesmoke!important;
}

.navbar-custom:active, .navbar-brand:active,
.navbar-custom .navbar-text:active, 
.nav-link:active {
  color: rgb(216, 214, 214)!important;
}